// VARIABLES GLOBAL 

// Global Colors 
$primary-color: #1E2F4F;
$secondary-color: #007BFF;

// Background primary color
$bg-color: whitesmoke;

// Box Shadow
$bxShdw:  rgba(0, 0, 0, 0.096);

// Team Section Card Attribute Colors
$tmc-01: #ABDDF1;
$tmc-02: #FDE8DC;
$tmc-03: #EBFFF4;
$tmc-04: #D9E9F4;

